@use "../abstracts";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;

  font-family: abstracts.$ff-primary;
  font-weight: abstracts.$fw-500;

  background-color: abstracts.$clr-light-gray-blue;

  margin-bottom: 100px;

  @include abstracts.respond-to("huge") {
    margin-bottom: 0px;
  }
}

p {
  line-height: 1.4;
}

img {
  max-width: 100%;
  display: block;
}

.attribution {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 2rem;
  width: 90%;
  text-align: center;
}
